body{
    background-color: lightblue;
}
header h1{
    color: green;
}
main{
    margin: 15px;
}
.text-box{
    border: 2px solid;
    padding: 10px;
    align-items: center;
    text-align: justify;
}
.text-box p{
    font-size: 24px;
}
.image-box{
    width: 90%;
    height: 100%;
    position: relative;
}
#conclusion{
    color: red;
    text-align: center;
}